@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    height: 50em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(250, 249, 226);;
}

.calc-body{
    position: absolute;
    background-color: rgb(251, 159, 201);
    height: fit-content;
    width: 15em;
    margin-top: 9em;
    padding: 20px;
    padding-top: 30px;
    border-radius: 0.40em;
    border: 1px solid rgba(238, 138, 183, 0.515);
}

.calc-display{
    display: flex;
    flex-wrap: wrap;
    min-height: 3em;
    height: auto;
    min-height: 4em;
    background-color: rgb(73, 73, 73);
    margin-bottom: 1em;
    font-family: monospace;
    font-size: 1.5em;
    color: rgb(245, 255, 255);
    padding: 1em;
    border-radius: 0.3em;
    word-wrap: break-word;
    word-break: break-all;    
}

.calc-upper{
    flex: 0 0 100%;
    height: 2em;
    margin-bottom: 0.1em;
}
.calc-lower {
    flex: 0 0 100%;
    font-size: 1.4em;
}

.calc-numberpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3em;
    border-radius: 0;
    border: 0.1px solid rgba(61, 61, 61, 0.536);
    background-color: rgb(79, 79, 79);
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(94, 94, 94);
}

#clear{
    background-color: rgb(238, 95, 134);
}

#clear:hover{
    background-color: rgb(228, 123, 151);
}

#del{
    background-color: rgb(98, 117, 139);
    color: aliceblue;
}

#del:hover{
    background-color: rgb(111, 129, 151);
}

#number, #decimal{
    background-color: rgb(232, 232, 232);
    color: black;
}

#number:hover, #decimal:hover{
    background-color: rgb(243, 243, 243);
}
.zero {
    grid-column: 1 / span 2;
}

.header{
    width: 20em;
    position: absolute;
    color: rgb(251, 159, 201);
    top: -260px;
    left: -140px;
    font-size: 4.5em;
    font-family: 'Pacifico', cursive;
}

.header:before{
    content: 'Feed me your math trash! Hit CLEAR or DEL.';
    position: absolute;
    width: 30em;
    font-family: monospace;
    font-size: 0.3em;
    top: 110px;
    left: 60px;
}

.header:after{
    content: 'The Mathmuncher';
    width: 50em;
    position: absolute;
    color: rgba(230, 82, 148, 0.808);
    top: 0px;
    left: 3px;
    font-family: 'Pacifico', cursive;
    z-index: -2;
}

.eye{
    background-color: rgb(251, 159, 201);
    border: 1px solid rgba(238, 138, 183, 0.515);
    border-radius: 100%;
    height: 7em;
    width: 7em;
    position: absolute;
    top: -85px;
    left:27px;
    z-index: -4;
}
.two{
    left: 140px;
 }

 .inner{
    position: absolute;
    height: 5em;
    width: 5em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(235, 131, 178, 0.831);
    border-radius: 100%;
    margin-left: 15px;
    margin-top: 15px;
 }

 .inner::before{
    content: '';
    position: absolute;
    height: 3.5em;
    width: 3.5em;
    top: 10px;
    left: 12px;
    border-radius: 100%;
    background-color: rgb(60, 60, 60);
 }

 .inner::after{
    content: '';
    position: absolute;
    height: 2em;
    width: 2em;
    top: 14px;
    left: 17px;
    border-radius: 100%;
    background-color: rgb(243, 243, 243);
 }

 .closing-eyes{
    visibility: hidden;
 }

 .closed-eye{
    background-color: rgb(251, 159, 201);
    border: 1px solid rgba(238, 138, 183, 0.515);
    border-radius: 100%;
    height: 7em;
    width: 7em;
    position: absolute;
    top: -85px;
    left:27px;
    z-index: -4;
 }

 .closed-eye .two{
    top: -33px;
    left: 136px;
 }

 .lid{
    position: absolute;
    top: 30px;
    left: -26px;
    width: 9.8em; 
    height: 100px;  
    border: solid 2px rgb(239, 89, 156);
    border-color: rgb(195, 61, 121) transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
 }


 .teeth:before{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid rgb(242, 233, 208);
    top: 30px;
    left: 60px;
 }

 .teeth:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid rgb(242, 233, 208);
    top: 30px;
    left: 190px;
 }

 .bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 75, 75);
    position: absolute;
    border-radius: 80%;
    width: 8em;
    height: 5em;
    color: white;
    top: -10px;
    left: 170px;
    font-family: monospace;
    font-size: 1.2em;
    visibility: hidden;
 }

 .bubble:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:30px solid  rgb(75, 75, 75); 
    transform: rotate(-40deg);
    top:60px;
    left: -10px;
 }