body{
    height: 50em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.calc-body{
    background-color: rgb(75, 73, 82);
    height: fit-content;
    width: 15em;
    padding: 20px;
    border-radius: 1em;
}

.calc-display{
    background-color: rgb(223, 233, 211);
    height: 2em;
    margin-bottom: 0.5em;
    font-family: monospace;
    font-size: 2em;
    padding: 10px;
    border-radius: 0.3em;
}

.calc-numberpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc-numberpad button {
    height: 3em;
}

.calc-numberpad #equal {
    grid-column: 3 / span 2;
}